.completo{
    text-decoration:line-through ;
}

.incompleto{
    text-decoration: none;
}
.input-interno {
  outline: 6px double rgb(255, 255, 255);
  border: none;
  border-radius:10px ;
  padding: 0px 5px;
}

.virar{
  rotate: 108deg;
  width: 1px;
  word-wrap: break-word;
  font-family: monospace;
  white-space: pre-wrap;
}

p[data-completed="true"] {
    text-decoration: line-through;
}


.borda{
    border:5px solid red
  }
  
  .global{
    min-height:72vh;
  }
  
  .conteudo{
    min-height:125px;
    background-color:rgba(128, 128, 128, 0.8 );
    font-weight: bolder;
    font-size: 18px;
    font-style: italic;
    font-family: cursive;
    color: black;
    box-shadow: 6px 8px 8px black;
  }
  
  .w-80{
    width:98%;
  }
  
  .color{
    color:white;
    text-shadow: 2px 2px 2px black;
  }
  
  .all{
    background-image:url("../public/imagem_fundo.jpg");
    background-position:center;
    background-size:cover;
    min-height:100vh;
    width:100%;
  }
  
  .margin{
   margin: 1em auto 3%; 
  }
  
  .height{
    max-height:50px
  }
  
  .height-top{
    min-height:80px;
  }
  
  .button_remove{
    background-color: red;
    min-width:40px
  }
  
  .button_create{
    background-color: #00ff4c !important;
    border: 2px solid black;
    box-shadow:1px 3px 3px black;
  }

  .button_create:hover {
    box-shadow: none;
  }
  :root{
    --bs-btn-padding-y: 10px !important;
    --bs-btn-padding-x: 25px !important;
    --bs-btn-font-size: 100rem !important;
    --color: white;
  }

  .button-size{
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x)
  }



  @media (min-width:350px) and (max-width:540px){
    .button-size{
      --bs-btn-padding-y: .25rem !important;
      --bs-btn-padding-x: .5rem !important;
    }
  }