.completo{
    text-decoration:line-through ;
}

.incompleto{
    text-decoration: none;
}

p[data-completed="true"] {
    text-decoration: line-through;
}


.borda{
    border:1px solid red
  }
  
  .global{
    min-height:72vh;
  }
  
  .conteudo{
    min-height:125px;
    background-color:rgba(128, 128, 128, 0.8 );
    font-weight: bolder;
    font-size: 18px;
    font-style: italic;
    font-family: cursive;
    color: black;
    box-shadow: 6px 8px 8px black;
  }
  
  .w-80{
    width:98%;
  }
  
  .color{
    color:white;
    text-shadow: 2px 2px 2px black;
  }
  
  .all{
    background-image:url("../public/imagem_fundo.jpg");
    background-position:center;
    background-size:cover;
    min-height:100vh;
    width:100%;
  }
  
  .margin{
   margin: 1em auto 3%; 
  }
  
  .height{
    max-height:50px
  }
  
  .height-top{
    min-height:80px;
  }
  
  .button_remove{
    background-color: red;
    min-width:40px
  }
  
  .button_create{
    background-color: #00ff4c;
    min-width:35px;
    border-radius: 10px;
  }